<h1>Edit This Food Recipe</h1>

<form action="/recipes/{{theRecipe._id}}/update" method="POST">

<div>
    Recipe Name: 
    <input type="text" name="recipeName" value="{{theRecipe.recipeName}}">
</div>

<div>
    Recipe Type: 
    <input type="text" name="recipeType" value="{{theRecipe.recipeType}}">
</div>

<div>
    Image: 
    <input type="text" name="img" value="{{theRecipe.img}}">
</div>

<div>
    Chef: 
    <select name="chef">
        {{#each chefs}}
            {{#ifEquals this._id theRecipe.chef}}
                <option value="{{this._id}}" selected>{{this.name}}</option>
            {{else}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/ifEquals}}
        {{/each}}
    </select>
</div>

<div>
    Ingredients: 
    {{#each theRecipe.ingredients}}
    <input type="text" name="ingredients" value="{{this}}">
    {{/each}}
</div>

<div>
    Instructions: 
    <textarea name="instructions">{{theRecipe.instructions}}</textarea>
</div>

<button>Save</button>

</form>
