<style>
  body {
    background-image: url("https://wallpapers.com/images/hd/best-kitchen-background-wqnxsargcqksauu2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: hsl(206, 70%, 8%);
  }

  .recipe-details-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 5px;
  }

  button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #c82333;
  }
</style>

<div class="recipe-details-container">
  <h1>Food Recipe Details</h1>

  <h2>{{recipe.recipeName}}</h2>
  <h3>Recipe Type: {{recipe.recipeType}}</h3>
  <img src="{{recipe.img}}" alt="Recipe Image">

  <hr>
  <h4>Ingredients</h4>
  {{#each recipe.ingredients}}
    <p>{{this}}</p>    
  {{/each}}
  <hr>

  <h4>Instructions</h4>
  <p>{{recipe.instructions}}</p>

  <div>
    Chef: {{recipe.chef.name}}
  </div>

  <br>

  <a href="/recipes/{{recipe._id}}/edit">Edit This Recipe</a>

  <br><br><br>
  <form action="/recipes/delete/{{recipe._id}}" method="POST">
    <button>Delete This Recipe</button>
  </form>
</div>
