<h1>Edit This Food Recipe</h1>

<form action="/recipes/{{recipe._id}}/update" method="POST">
  <div>
    Recipe Name:
    <input type="text" name="recipeName" value="{{recipe.recipeName}}">
  </div>

  <div>
    Recipe Type:
    <input type="text" name="recipeType" value="{{recipe.recipeType}}">
  </div>

  <div>
    Image:
    <input type="text" name="img" value="{{recipe.img}}">
  </div>

  <div>
    Chef:
    <select name="theChef">
      {{#each chefs}}
        {{#if this._id.equals recipe.chef._id}}
          <option value="{{this._id}}" selected>{{this.name}}</option>
        {{else}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/if}}
      {{/each}}
    </select>
  </div>

  <div>
    Ingredients:
    {{#each recipe.ingredients}}
      <input type="text" name="ingredients" value="{{this}}">
    {{/each}}
  </div>

  <div>
    Instructions:
    <textarea name="instructions">{{recipe.instructions}}</textarea>
  </div>

  <button>Save</button>
</form>
