<h1>Recipe Details</h1>

<h2>{{theRecipe.recipeName}}</h2>
<h3>Type: {{theRecipe.recipeType}}</h3>
<div>
    Chef: {{theRecipe.chef.name}}
</div>

<img src="{{theRecipe.img}}" style="width: 300px">

<hr>
<h4>Ingredients</h4>
{{#each theRecipe.ingredients}}
    <p>
        {{this}}
    </p>    
{{/each}}
<hr>

<h4>Instructions</h4>
<p>
    {{theRecipe.instructions}}
</p>

<br>

<a href="/recipe/{{theRecipe._id}}/edit">Edit This Recipe</a>

<br><br><br>
<form action="/recipe/delete/{{theRecipe._id}}" method="POST">
    <button>Delete This Recipe</button>
</form>
